################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/ConsoleApp1/v15/Server/sqlite3
/.vs/ConsoleApp1/v15/.suo
